################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI-sync/CopilotIndices/18.6.39577.51406
/.vs
